.config {
    padding:  0 10px;
    min-height: 400px;
    color: rgba(108, 122, 137, 1);
    text-align: center;
    display: flex;
}

.requestData {
    padding:  0 10px;
    color: rgba(108, 122, 137, 1);
    text-align: center;
    display: flex;
}

#form {
    padding: 20px;
    text-align: left;
}


#config_name {
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


li > a:hover {
    background-color:  rgba(223,26,56,1) !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
}

.active {
    background-color:white !important;
}

.list-group > .active {
    background-color:  rgba(223,26,56,1) !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
}

.dropdown-menu > li > a > span {
    color: black;
}

.dropdown-menu > li > a:hover > span {
    color: white;
}

#active {
    margin-top: 200px;
}

#sensor_config {
    margin-bottom: 0;
}

.bootstrap-select {
    width: 100% !important;
}


