<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='../stylesheets/config-sensor-types.css'>
  <link rel='stylesheet' href='../stylesheets/bootstrap.css'>
  <link rel='stylesheet' href='../stylesheets/template.css'>
  <link rel='stylesheet' href="../stylesheets/zynep.css">
  <title>Configuration</title>
</head>
<body>
<header class="text-center">
  <div class="hamburger-container">
    <div class="hamburger"></div>
  </div>
  <div class="zeynep first" data-menu-name="first">
    <ul>
      <li>
        <a>Menu</a>
        <a class="active_Page" href="/">Home</a>
      </li>
      <li class="has-submenu">
        <a href="" data-submenu="display">Display Sensors</a>
        <div id="display" class="submenu">
          <div class="submenu-header">
            <a href="#" data-submenu-close="display">Display Sensors</a>
          </div>
          <ul>
            <li th:each="sensor: ${sensors}">
              <form action="/display" method="get" >
                <input hidden name="sensor_id" th:value="${sensor.getSensorId()}">
                <input class="menu-content" th:id="'dropdown_' + ${sensor.getSensorId()}" type="submit" th:value="${sensor.sensorNick}">
              </form>
            </li>
          </ul>
        </div>
      </li>
      <li class="has-submenu">
        <a href="#" data-submenu="configuration">Configure Sensors</a>
        <div id="configuration" class="submenu">
          <div class="submenu-header">
            <a href="" data-submenu-close="configuration">Configure Sensors</a>
          </div>
          <ul>
            <li>
              <form action="/config/local-sensors" method="get">
                <input  class="menu-content" type="submit"  value="Edit Sensors">
              </form>
            </li>
            <li>
              <form action="/config/sensor-types" method="get">
                <input class="menu-content" type="submit" value="Edit Types">
              </form>
            </li>
            <li>
              <form action="/config/sensor-categories" method="get">
                <input class="menu-content" type="submit" value="Edit Categories">
              </form>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</header>
<div class="main page-body">
  <div class="row header">
    <h1 id="title">Configure Types</h1>
  </div>
  <main id="main" th:data-length="${sensors.size()}" class="container-fluid">
    <div class="row">
      <nav class="navbar lightgrey">
        <a class="navbar-brand darkgrey">Navigation</a>
        <form  method="get" action="/" class="wrapper">
          <input class="button"  type="submit" value="home">
        </form>
      </nav>
    </div>

  <div class="row" id="sensor_config">
    <section class="col-lg-2 config" id="config_left">
      <div class="content p-2">
        <h2>Selection</h2>
        <div class="list-group" id="list">
          <button th:each="type : ${types}" th:id="'list_' + ${type.getId()}" type="button" data-toggle="list" th:attr="onclick=|select('${type.getSensorType()}', '${type.getId()}', '${type.getUnit()}', '${type.getRepetitions()}', '${type.getSleepTime()}')|" class="list-group-item list-group-item-action" th:text="${type.getSensorType()}"></button>
          <button id="list_new"  type="button" data-toggle="list" onclick="select('', '', '')" class="list-group-item list-group-item-action active">+</button>
        </div>

      </div>
    </section>
    <section class="col-lg-10 config" id="config_middle">
      <div class="content">
        <h1 id="config_name">Sensor Type</h1>
        <form id="form">
          <label  class="form-label" for="typeName">Sensor Type Name:</label>
          <div class="input-group mb-3">
            <input data-id="" maxlength="16" minlength="1" autocomplete="off" class="form-control" type="text" id="typeName" name="sensor_type" required>
          </div>
          <label class="form-label"  for="typeUnit">Sensor Unit:</label>
          <div class="input-group mb-3">
            <input maxlength="5" minlength="1" autocomplete="off" class="form-control" type="text" id="typeUnit" name="unit" required>
          </div>
          <label  class="form-label" for="repetitions">Number of Repetitions before calculating average value:</label>
          <div class="input-group mb-3">
            <input data-id="" min="1" autocomplete="off" class="form-control" type="number" id="repetitions" name="repetitions" required>
          </div>
          <label  class="form-label" for="sleep_time">Time between two sets of measurements in ms:</label>
          <div class="input-group mb-3">
            <input data-id="" min="1" autocomplete="off" class="form-control" type="number" id="sleep_time" name="sleep_time" required>
          </div>
          <div class="input-group mb-3">
            <input data-target="#login_sub" data-toggle="modal"  id="submit" class="button login-trigger"  value="Submit">
            <input data-target="#login_del" data-toggle="modal" id="delete" class="button login-trigger" value="Delete">
          </div>
        </form>
      </div>
    </section>
  </div>
  </main>
  <footer>
    <h1>https://github.com/lr101/SpringServer</h1>
  </footer>
  <div class="zeynep-overlay"></div>
</div>


<script src="../javascript/jquery-3.6.0.min.js"></script>
<script src="../javascript/bootstrap.bundle.js"></script>
<script src="../javascript/config-sensor-types.js"></script>
<script src="../javascript/zynep.js"></script>
</body>
</html>