<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='../stylesheets/config-sensor-types.css'>
  <link rel='stylesheet' href='../stylesheets/bootstrap.css'>
  <link rel='stylesheet' href='../stylesheets/template.css'>
  <title>Configuration</title>
</head>
<body>
<header class="text-center">
  <h1 id="title">Configuration</h1>
</header>
<main id="main">
  <div class="row">
    <nav class="navbar lightgrey">
      <a class="navbar-brand darkgrey">Navigation</a>
      <form method="get" action="/" class="wrapper">
        <input  class="button"  type="submit" value="home">
      </form>
      <div class="dropdown wrapper">
        <button class="button">Display Sensors</button>
        <div class="dropdown-content">
          <form th:each="sensor: ${sensors}" class="content" action="/display" method="get" >
            <input hidden name="sensor_id" th:value="${sensor.getSensorId()}">
            <input class="dropdown-item" th:id="'dropdown_' + ${sensor.getSensorId()}" type="submit" th:value="${sensor.sensorNick}">
          </form>
        </div>
      </div>
      <div class="dropdown wrapper">
        <button class="button">Configuration</button>
        <div class="dropdown-content">
          <form class="content" action="/config/local-sensors" method="get">
            <input  class="dropdown-item" type="submit"  value="Edit Sensors">
          </form>
          <form class="content" action="/config/sensor-types" method="get">
            <input class="dropdown-item" type="submit" value="Edit Types">
          </form>
          <form class="content" action="/config/sensor-categories" method="get">
            <input class="dropdown-item" type="submit" value="Edit Categories">
          </form>
        </div>
      </div>
    </nav>
  </div>

  <div class="row" id="sensor_config">
    <section class="col-lg-2 config" id="config_left">
      <div class="content p-2">
        <h2>Selection</h2>
        <div class="list-group" id="list">
          <button th:each="category : ${categories}" th:id="'list_' + ${category.getId()}" type="button" data-toggle="list" th:attr="onclick=|select('${category.getSensorCategory()}', '${category.getId()}')|" class="list-group-item list-group-item-action" th:text="${category.getSensorCategory()}"></button>
          <button id="list_new"  type="button" data-toggle="list" onclick="select('', '')" class="list-group-item list-group-item-action active">+</button>
        </div>
      </div>
    </section>
    <section class="col-lg-10 config" id="config_middle">
      <div class="content">
        <h1 id="config_name">Sensor Category</h1>
        <form id="form">
          <label  class="form-label" for="categoryName">Sensor Category:</label>
          <div class="input-group mb-3">
            <input data-id="" maxlength="16" minlength="1" autocomplete="off" class="form-control" type="text" id="categoryName" name="sensor_category" required>
          </div>
          <div class="input-group mb-3">
            <input data-target="#login_sub" data-toggle="modal"  id="submit" class="button login-trigger"  value="Submit">
            <input data-target="#login_del" data-toggle="modal" id="delete" class="button login-trigger" value="Delete">
          </div>
        </form>
      </div>
    </section>
  </div>
</main>

<footer>
  <h1>https://github.com/lr101/REST_Server</h1>
</footer>
<script src="../javascript/jquery-3.6.0.min.js"></script>
<script src="../javascript/bootstrap.bundle.js"></script>
<script src="../javascript/config-sensor-categories.js"></script>
</body>
</html>