<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='./stylesheets/bootstrap.css'>
  <link rel='stylesheet' href='./stylesheets/template.css'>
  <link rel='stylesheet' href='./stylesheets/display.css'>
  <link rel='stylesheet' href="./stylesheets/zynep.css">
  <title>Data Display</title>
</head>
<body>
<header class="text-center">
  <div class="hamburger-container">
    <div class="hamburger"></div>
  </div>
  <div class="zeynep first" data-menu-name="first">
    <ul>
      <li>
        <a>Menu</a>
        <a class="active_Page" href="/">Home</a>
      </li>
      <li class="has-submenu">
        <a href="" data-submenu="display">Display Sensors</a>
        <div id="display" class="submenu">
          <div class="submenu-header">
            <a href="#" data-submenu-close="display">Display Sensors</a>
          </div>
          <ul>
            <li th:each="sensor: ${sensors}">
              <form action="/display" method="get" >
                <input hidden name="sensor_id" th:value="${sensor.getSensorId()}">
                <input class="menu-content" th:id="'dropdown_' + ${sensor.getSensorId()}" type="submit" th:value="${sensor.sensorNick}">
              </form>
            </li>
          </ul>
        </div>
      </li>
      <li class="has-submenu">
        <a href="#" data-submenu="configuration">Configure Sensors</a>
        <div id="configuration" class="submenu">
          <div class="submenu-header">
            <a href="" data-submenu-close="configuration">Configure Sensors</a>
          </div>
          <ul>
            <li>
              <form action="/config/local-sensors" method="get">
                <input  class="menu-content" type="submit"  value="Edit Sensors">
              </form>
            </li>
            <li>
              <form action="/config/sensor-types" method="get">
                <input class="menu-content" type="submit" value="Edit Types">
              </form>
            </li>
            <li>
              <form action="/config/sensor-categories" method="get">
                <input class="menu-content" type="submit" value="Edit Categories">
              </form>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</header>
<div class="main page-body">
  <div class="row header">
    <h1 id="title" th:data-id="${thisSensor.getSensorId()}" th:text="${thisSensor.getSensorNick()}"></h1>
  </div>
  <main id="main">
    <div class="row">
      <nav class="navbar lightgrey">
        <a class="navbar-brand darkgrey">Navigation</a>
        <form  method="get" action="/" class="wrapper">
          <input class="button"  type="submit" value="home">
        </form>
      </nav>
    </div>

    <div class="row" >
      <section class="col-12 displayRowContainer">
        <h1 id="current" class="displayRow" th:data-unit="${thisSensor.getSensorType().getUnit()}">Current Value: LOADING...</h1>
      </section>
    </div>
    <div class="row">
      <section class="col-12" id="chart">
        <canvas id="myChart"></canvas>
      </section>
    </div>
    <div class="row">
      <section class="col-2" >
        <button class="button buttonBig" onclick="getDataGraph(60);">1 hour</button>
      </section>
      <section class="col-2" >
        <button class="button buttonBig" onclick="getDataGraph(720);">12 hour</button>
      </section>
      <section class="col-2" >
        <button class="button buttonBig" onclick="getDataGraph(1440);">1 day</button>
      </section>
      <section class="col-2" >
        <button class="button buttonBig" onclick="getDataGraph(2880);">2 day</button>
      </section>
      <section class="col-2" >
        <button class=" button buttonBig" onclick="getDataGraph(4320);">3 days</button>
      </section>
      <section class="col-2" >
        <button class="button buttonBig" onclick="getDataGraph(10080);">7 days</button>
      </section>
    </div>
    <div class="row">
      <section class="col-12 displayRowContainer">
        <h1 class="displayRow" th:text="'Sensor Type: ' + ${thisSensor.getSensorType().getSensorType()}"></h1>
      </section>
    </div>
  </main>
  <footer>
    <h1>https://github.com/lr101/SpringServer</h1>
  </footer>
  <div class="zeynep-overlay"></div>
</div>



<script src="./javascript/jquery-3.6.0.min.js"></script>
<script src="./javascript/display.js"></script>
<script src="./javascript/chart.js"></script>
<script src="./javascript/zynep.js"></script>
</body>
</html>